<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>デート機能一覧</title>
</head>

<body>
	<header>
		<h1>デート機能一覧</h1>
	</header>
	<main>


		

		<form th:action="@{/dateMaster/home}" method="get">
					<button type="submit">戻る</button>
				</form>

	<br>


		<br>

		<div class="button-group">
			<!-- ランダムデートプランリンク -->
			<a href="#" th:href="@{/randomDate}" class="button-link">
				<button type="button">ランダムデートプラン</button>
			</a>
			<p>質問に答えるだけで、手軽にデートプランを作成してくれる機能です♡</p>

			<!-- デートプランリンク -->
			<a href="#" th:href="@{/dateCreate}" class="button-link">
				<button type="button">デートプラン</button>
			</a>
			<p>自分でプランを作成することができる機能です</p>

			<!-- デートミッションリンク -->

			<a href="#" th:href="@{/dateRank}" class="button-link">
				<button type="button">デートミッション</button>
			</a>
			<p>レベルで別れたミッションをデート中に実践できる機能です</p>

			<!-- デートプランランキングリンク -->
			<a href="#" th:href="@{/datePlanRanking}" class="button-link">
				<button type="button">デートプランランキング</button>
			</a>
			<p>シチュエーションごとのプランをランキングで閲覧できる機能です</p>

			<!-- デートプラン共有リンク -->
			<a href="#" th:href="@{/datePlanShare}" class="button-link">
				<button type="button">デートプラン共有</button>
			</a>
			<p>お互いが作成したプランを共有できる機能です</p>
		</div>
	</main>
</body>

</html>