<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>デート機能一覧</title>
</head>
<body>
  <header>
    <h1>デート機能一覧</h1>
    <div class="hamburger-menu">
		<li><a href="date.html">デート</a></li>
		        <li><a href="diagnosis.html">診断</a></li>
		        <li><a href="partner.html">パートナー</a></li>
		        <li><a href="setting.html">設定</a></li>
		        <li><a href="logout.html">ログアウト</a></li>
    </div>
  </header>
  <main>
    <div class="back-button">
      <button type="button" onclick="history.back()">戻る</button>
    </div>
    <div class="button-group">
      <button type="button" onclick="location.href='date_search.html'">ランダムデートプラン</button>
      <p>質問に答えるだけで、手軽にデートプランを作成してくれる機能です♡</p>
      <button type="button" onclick="location.href='date_request.html'">デートプラン</button>
      <p>自分でプランを作成することができる機能です</p>
      <button type="button" onclick="location.href='date_schedule.html'">デートミッション</button>
      <p>レベルで別れたミッションをデート中に実践できる機能です</p>
      <button type="button" onclick="location.href='date_review.html'">デートプランランキング</button>
      <p>シチュエーションごとのプランをランキングで閲覧できる機能です</p>
      <button type="button" onclick="location.href='date_setting.html'">デートプラン共有</button>
      <p>お互いが作成したプランを共有できる機能です</p>
    </div>
  </main>
</body>
</html>