<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザー管理画面</title>
	<link rel="stylesheet" href="/css/user_management/user_management.css">
</head>

<body>
	<header>
		<h1><a th:href="@{/dateMaster/home}">DatingMaster</a></h1>
		<div class="hamburger-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>

	<ul class="hamburger-menu">
		<li><a th:href="@{/dateMaster/date}">デート</a></li>
		<li><a th:href="@{/dateMaster/diagonosis}">診断</a></li>
		<li><a th:href="@{/dateMaster/partner}">パートナー</a></li>
		<li><a th:href="@{/dateMaster/setting}">設定</a></li>
		<li><a th:href="@{/dateMaster/logout}">ログアウト</a></li>
	</ul>
	<main>

		<!-- 前の画面に戻るボタン　-->
		<div class="back-button">
			<button type="button" onclick="history.back()">戻る</button>
		</div>
		<br>

		<div class="button-group">
			<!-- 名前変更ボタンを押すと、name_change.htmlに遷移するリンク -->
			<a th:href="@{/dateMaster/name}"><button type="button">名前変更</button></a>

			<!-- パスワード変更ボタンを押すと、に遷移するリンク-->
			<a th:href="@{/dateMaster/password}"><button type="button">パスワード変更</button></a>

			<!-- アカウント削除ボタンを押すと、に遷移するリンク-->
			<a th:href="@{/dateMaster/userDelete}"><button type="button">アカウント削除</button></a>


		</div>
	</main>

	<script src="/js/user_management/user_management.js"></script>

</body>

</html>