<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザー管理画面</title>
</head>

<body>
	<header>
		<h1>ユーザー管理</h1>
		<div class="hamburger-menu">
			<ul>
				<li><a href="date.html">デート</a></li>
				<li><a href="diagnosis.html">診断</a></li>
				<li><a href="partner.html">パートナー</a></li>
				<li><a href="setting.html">設定</a></li>
				<li><a href="logout.html">ログアウト</a></li>
			</ul>
		</div>
	</header>
	<main>

		<!-- 前の画面に戻るボタン　-->
		<div class="back-button">
			<button type="button" onclick="history.back()">戻る</button>
		</div>
		<br>

		<div class="button-group">
			<!-- 名前変更ボタンを押すと、name_change.htmlに遷移するリンク -->
			<a th:href="@{/dateMaster/name}"><button type="button">名前変更</button></a>

			<!-- パスワード変更ボタンを押すと、に遷移するリンク-->
			<a th:href="@{/dateMaster/password}"><button type="button">パスワード変更</button></a>

			<!-- メールアドレス変更ボタンを押すと、に遷移するリンク-->

			<!-- アカウント削除ボタンを押すと、に遷移するリンク-->

		
		</div>
	</main>
</body>

</html>