<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>パートナー了承</title>
	<link rel="stylesheet" href="/css/partner/partner_accept.css">
</head>

<body>
	<header>
		<h1><a th:href="@{/dateMaster/home}">DatingMaster</a></h1>
		<div class="hamburger-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>

	<ul class="hamburger-menu">
		<li><a th:href="@{/dateMaster/date}">デート</a></li>
		<li><a th:href="@{/dateMaster/diagonosis}">診断</a></li>
		<li><a th:href="@{/dateMaster/partner}">パートナー</a></li>
		<li><a th:href="@{/dateMaster/setting}">設定</a></li>
		<li><a th:href="@{/dateMaster/logout}">ログアウト</a></li>
	</ul>

	<main>
		<div class="partner-request-container">
			<h2>パートナー了承</h2>

			<div class="back-button">
				<a th:href="@{'/dateMaster/partner'}"><button type="button">戻る</button></a>
			</div>
			<div class="partner-info" th:if="${applicant == null}">
				<p>パートナー申請がありません。</p>
			</div>
			<div class="partner-info" th:if="${applicant != null}">
				<p th:text="'名前: ' + ${applicant.name}">名前: 申請者名</p>
				<p th:text="'ID: ' + ${applicant.id}">ID: 申請者ID</p>

				<!-- 診断結果の追加 -->
				<div th:if="${diagnosisType != null}">
					<p>診断結果: <span th:text="${diagnosisType}"></span></p>
					<img th:if="${diagnosisImage != null}" th:src="@{${diagnosisImage}}" alt="診断結果の画像"
						class="diagnosis-image">
				</div>

				<div class="button-group">
					<form name="rejectForm" th:action="@{/dateMaster/partnerReject}" method="post">
						<button type="submit" class="reject-button">拒否</button>
					</form>
					<form name="acceptForm" th:action="@{/dateMaster/partnerApprove}" method="post">
						<button type="submit" class="accept-button">承認</button>
					</form>
				</div>
			</div>
		</div>
	</main>
	<script src="/js/partner/partner_accept.js"></script>
</body>

</html>