<!-- mypage.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>マイページ</h1>
    <div class="hamburger-menu">
      <ul>
        <li><a href="date.html">デート</a></li>
        <li><a href="diagnosis.html">診断</a></li>
        <li><a href="partner.html">パートナー</a></li>
        <li><a href="setting.html">設定</a></li>
        <li><a href="logout.html">ログアウト</a></li>
      </ul>
    </div>
  </header>
  <br>
  <main>
    <div class="button-group">
      <button type="button" onclick="location.href='mypage_detail.html'">マイページ</button>
      <br>
	  <button type="button" onclick="location.href='self_diagnosis_history.html'">自己診断履歴</button>
      <br>
	  <button type="button" onclick="location.href='mbti_diagnosis_history.html'">MBTI診断履歴</button>
    </div>
  </main>
</body>
</html>