<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MBTI診断質問</title>
</head>
<body>
	<h1>MBTI診断 - 質問画面</h1>
	<form action="/mbti/confirm" method="post"">
	<div th:each="question : ${questions}" class="question">
		<label th:for="question" th:text="{question.text}"></label><br>
		<input type="radio" th:name="answers[${question.id}]" value="1" id="positive-${question.id}"required>はい
		<input type="radio" th:name="answers[${question.id}]" value="-1" id="negative-${question.id}"> いいえ
	</div>
	<button type="submit" class="button">確認</button>
</form>
</body>
</html>