<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>MBTI診断</h1>
	  <button class="back-button">戻る</button>
	</header>

	<!-- 診断説明 -->
	<div class="diagnosis-explanation">
	  <p>質問の回答によってあなたのMBTIを診断します♪</p>
	</div>

	<!-- 質問1 -->
	<div class="question">
	  <p>初対面の人と話すのが楽しいと感じますか？</p>
	  <button class="yes-button">はい</button>
	  <button class="no-button">いいえ</button>
	</div>

	<!-- 質問2 -->
	<div class="question">
	  <p>細かい事実や手順を確認するのが得意ですか？</p>
	  <button class="yes-button">はい</button>
	  <button class="no-button">いいえ</button>
	</div>

	<!-- 質問3 -->
	<div class="question">
	  <p>人と接するときに、論理よりも感情を優先しますか？</p>
	  <button class="yes-button">はい</button>
	  <button class="no-button">いいえ</button>
	</div>

	<!-- ボタン -->
	<div class="buttons">
	  <button class="back-button">戻る</button>
	  <button class="result-button">結果を見る</button>
	</div>
</body>
</html>