<!-- delete.html -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パートナー削除</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
  <header>
    <h1 th:text="パートナー削除">パートナー削除</h1>
  </header>

  <main>
    <div class="delete-user">
      <h2>パートナー情報</h2>
      <div class="partner-icon">
        <img th:src="@{/icon1.png}" alt="パートナーアイコン">
      </div>
      <p th:text="ID: ${userId}">ID: [[${userId}]]</p>
      <p th:text="名前: ${userName}">名前: [[${userName}]]</p>
      <button type="button" th:onclick="'@{/delete/confirm/{userId}(userId=${userId})}'">削除</button>
      <button type="button" th:onclick="'@{/partner/approval}'">戻る</button>
    </div>
  </main>
</body>

</html>