<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>パートナーコーチング問題作成</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<header>
		<h1>問題作成</h1>
	</header>

	<main>
		<form th:action="@{/dateMaster/createProblem}" method="post">
			<div>
				<label for="question">問題文:</label>
				<input type="text" id="question" name="question" required>
			</div>

			<div>
				<label for="option1">選択肢1:</label>
				<input type="text" id="option1" name="option1" required>
			</div>

			<div>
				<label for="option2">選択肢2:</label>
				<input type="text" id="option2" name="option2" required>
			</div>

			<div>
				<label for="option3">選択肢3:</label>
				<input type="text" id="option3" name="option3" required>
			</div>

			<div>
				<label for="option4">選択肢4:</label>
				<input type="text" id="option4" name="option4" required>
			</div>

			<div>
				<label for="correctOption">正解の選択肢番号 (1〜4):</label>
				<input type="number" id="correctOption" name="correctOption" min="1" max="4" required>
			</div>

			<div class="button-group">
				<button type="submit">作成</button>
			</div>
		</form>

		<form th:action="@{/dateMaster/editProblem}" method="get">

			<div class="button-group">
				<button type="submit">戻る</button>
			</div>
		</form>
	</main>
</body>

</html>