<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>デートプランランキング</h1>
	  <button class="back-button">戻る</button>
	</header>

	<!-- デートスポット -->
	<div class="spot">
	  
	  <img src="spot-image.jpg" alt="スポットの写真">
	  <p>スポットの概要</p>
	  <p> ↓</p>
	  <img src="spot-image.jpg" alt="スポットの写真">
	  	  <p>スポットの概要</p>
		  <p> ↓</p>
		  <img src="spot-image.jpg" alt="スポットの写真">
		  	  <p>スポットの概要</p>
	</div>

	

	<!-- ボタン -->
	<div class="buttons">
	  <button class="back-button">戻る</button>
	  <button class="function-button">機能一覧に戻る</button>
	</div>
</body>
</html>