<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>パスワード再設定</h1>
	  <button class="back-button">戻る</button>
	</header>

	<!-- パスワード入力 -->
	<div class="password-input">
	  <label for="new-password">新しいパスワード</label>
	  <input type="password" id="new-password" placeholder="新しいパスワードを入力してください">
	  <ul>
	 
	    <li>英小文字、英大文字、数字を2個以上含む</li>
	    <li>8文字以上</li>
	  </ul>
	  
	  
	  <label for="confirm-password">新しいパスワードの確認</label>
	  <input type="password" id="confirm-password" placeholder="新しいパスワードを再入力してください">
	  <p class="error-message">パスワードが一致していません</p>
	  <button class="reset-button">再設定する</button>
	</div>
</body>
</html>