<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>設定機能一覧画面</title>
	<link rel="stylesheet" href="/css/setting/setting.css">
</head>

<body>
	<header>
		<h1><a th:href="@{/dateMaster/home}">DatingMaster</a></h1>
		<div class="hamburger-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>

	<ul class="hamburger-menu">
		<li><a th:href="@{/dateMaster/date}">デート</a></li>
		<li><a th:href="@{/dateMaster/diagonosis}">診断</a></li>
		<li><a th:href="@{/dateMaster/partner}">パートナー</a></li>
		<li><a th:href="@{/dateMaster/setting}">設定</a></li>
		<li><a th:href="@{/dateMaster/logout}">ログアウト</a></li>
	</ul>

	<main>

		<!-- 前の画面に戻るボタン -->
		<div class="back-button">
			<a th:href="@{'/dateMaster/home'}"><button type="button">戻る</button></a>
		</div>

		<br>

		<div class="button-group">
			<!-- ユーザー管理ボタンを押すと、user_management.htmlに遷移するリンク -->
			<a th:href="@{/dateMaster/userManagement}"><button type="button">ユーザー管理</button></a>

			<!-- マイページボタンを押すと、mypage_list.htmlに遷移するリンク -->
			<a th:href="@{/dateMaster/mypage}"><button type="button">マイページ</button></a>

			<!-- お問い合わせボタンを押すと、に遷移するリンク -->

		</div>
	</main>

	<script src="/js/home/home.js"></script>
</body>

</html>