<!-- auth_code_input.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>認証コード入力</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>新規登録</h1>
  </header>
  <main>
    <p>認証コードを送信しました。</p>
    <p>○○○○@gmail.comにメールを送信しました。記載されている認証コードを入力してください。</p>
    <form>
      <input type="text" id="auth-code" name="auth-code" placeholder="認証コードを入力してください">
      <button type="submit">登録</button>
    </form>
    <p><a href="mailto_edit.html">メールアドレスを訂正する</a></p>
  </main>
</body>
</html>