<!-- register.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>新規登録</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>新規登録</h1>
	</header>

	<form th:action="@{/dateMaster/register/send}" th:method="post">
		<label for="name">名前</label>
		<input type="text" id="name" th:name="name"><br><br>

		<label for="id">ユーザーID</label>
		<input type="text" id="id" th:name="id"><br><br>

		<label for="password">パスワード</label>
		<input type="password" id="password" th:name="password"><br><br>

		<label for="confirm-password">確認用パスワード</label>
		<input type="password" id="confirmPassword" th:name="confirmPassword"><br><br>

		<button type="submit">登録</button>
	</form>


	<p>すでにアカウントをお持ちの方は<a th:href="@{/dateMaster}">ログイン</a></p>

</body>

</html>