<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rank Row</title>
</head>

<body>
    <h1>初級ミッション</h1>

    <!-- 戻るボタン -->
    <div class="back-button">
        <a th:href="@{/rankSelection}">
            <button type="button">ランク選択に戻る</button>
        </a>
    </div>

    <!-- ランダムに取得したミッションを表示 -->
    <ul>
        <li th:each="mission : ${missions}" th:text="${mission.missionText}"></li>
    </ul>

    <!-- ミッション更新ボタン -->
    <form action="/updateMissions" method="get">
        <button type="submit">ミッションを更新</button>
    </form>
	
	<!-- スタートボタン -->
	    <form action="/start" method="get">
	        <button type="submit">スタート</button>
	    </form>
</body>

</html>
