<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/datemission/rank_selection.css">
    <script src="/js/datemission/rank_selection.js"></script>
    <title>デートミッションランク選択画面</title>
</head>
<body>
    <header>
        <h1>デートミッションランク選択</h1>
    </header>
    <main>
        <div class="back-button">
            <a th:href="@{/date}" class="button-link">
               <button type="button">戻る</button>
            </a>
        </div>

        <p>ミッションのランクを選択してね</p>
        
        <div class="button-group">
            <a th:href="@{/rank_row}" class="button-link">
                <button type="button">初級</button>
            </a>
            <a th:href="@{/rank_mid}" class="button-link">
                <button type="button">中級</button>
            </a>
            <a th:href="@{/rank_high}" class="button-link">
                <button type="button">上級</button>
            </a>
        </div>
    </main>
</body>
</html>