<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>パートナー画面</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<header>
		<h1 th:text="パートナー">パートナー</h1>


		<form name="form1" th:action="@{/dateMaster/home}" method="get">
			<button type="submit">戻る</button>
		</form>

	</header>

	<main>
		<div class="partner-info">

			<!-- パートナー情報を表示 -->
			<div th:if="${partner != null}">
				<p th:text="'名前:' + ${partner.name}">名前： パートナー名</p>
				<p th:text="'ID:' + ${partner.id}">ID： パートナーID</p>
			</div>

			<!-- パートナーがいない場合のメッセージ -->
			<pdiv th:if="${partner == null}">
				<p>パートナーがいません...</p>
		</div>

		</div>
		<div class="button-group">
			<form name="form1" th:action="@{/dateMaster/partnerRequest}" method="get">
				<button type="submit">パートナー申請</button><br>
			</form>

			<!-- パートナー了承 -->
			<form name="form1" th:action="@{/dateMaster/partnerAccept}" method="get">
				<button type="submit">パートナー了承</button>
			</form>

			<!-- パートナー削除機能 -->
			<form name="form1" th:action="@{/dateMaster/partnerDelete}" method="get">
				<button type="submit" th:if="${partner != null}">パートナー削除</button>
			</form>

			<!-- パートナーコーチング機能 -->
			<form name="form1" th:action="@{/dateMaster/partnerCoaching}" method="get">
				<button type="submit">パートナーコーチング</button>
			</form>

		</div>
	</main>
</body>

</html>