<!-- diagnosis.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>診断一覧</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>診断一覧</h1>
    <div class="hamburger-menu">
      <ul>
        <li><a href="date.html">デート</a></li>
        <li><a href="diagnosis.html">診断</a></li>
        <li><a href="partner.html">パートナー</a></li>
        <li><a href="setting.html">設定</a></li>
        <li><a href="logout.html">ログアウト</a></li>
      </ul>
    </div>
  </header>
  <main>
	<div class="back-button">
	  <button type="button" onclick="history.back()">戻る</button>
	</div>
    <div class="button-group">
		<form name="form1" th:action="@{/dateMaster/questions}" method="get">
		       <button type="submit">ＭＢＴＩ診断</button><br>
		</form>
      <button type="button" onclick="location.href='self_diagnosis.html'">自己診断</button>
	  <br>
      <button type="button" onclick="location.href='self_diagnosis_result.html'">自己診断結果</button>
      <br>
	  <button type="button" onclick="location.href='mbti_diagnosis.html'">MBTI診断</button>
      <br>
	  <button type="button" onclick="location.href='mbti_diagnosis_result.html'">MBTI診断結果</button>
  	  <br>  
  </div>
  </main>
</body>
</html>