<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>名前変更画面</title>
</head>

<body>
	<header>
		<h1>名前変更</h1>
		<div class="hamburger-menu">
			<li><a href="date.html">デート</a></li>
			<li><a href="diagnosis.html">診断</a></li>
			<li><a href="partner.html">パートナー</a></li>
			<li><a href="setting.html">設定</a></li>
			<li><a href="logout.html">ログアウト</a></li>
		</div>

	</header>
	<main>



		<div class="back-button">
			<button type="button" onclick="history.back()">戻る</button>
		</div>
		
		<br>

		<!-- 現在の名前表示 -->
		<div class="current-name">
			<label for="default-name">現在の名前：</label>
			<span th:text="${user.name}">現在の名前</span>
		</div>

		<!-- 名前変更フォーム -->
		<form th:action="@{/dateMaster/confirm}" method="post">
			<div class="input-group">
				<label for="new-name">変更する名前：</label>
				<input type="text" id="new-name" name="newName" required>
			</div>
			
			<br>

			<div class="button-group">
				<button type="button" onclick="history.back()">戻る</button>
				<button type="submit">次へ進む</button>
			</div>
		</form>

	</main>
</body>

</html>