<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ネガティブ診断</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>ネガティブ診断</h1>
	</header>

	<main>
		<!-- 質問 -->
		<h2>以下の質問に答えてください</h2>

		<form th:action="@{/dateMaster/self_diagonosis_check_negative}" method="post">
			<!-- 質問1 -->
			<div>
				<h3>1. 慎重に考えた上で物事を決めることが多いですか？</h3>
				<input type="radio" name="q1" value="はい" required> はい
				<input type="radio" name="q1" value="いいえ"> いいえ
			</div>
			<br>

			<!-- 質問2 -->
			<div>
				<h3>2. 誰かが困っているときに手助けしたくなることが多いですか？</h3>
				<input type="radio" name="q2" value="はい" required> はい
				<input type="radio" name="q2" value="いいえ"> いいえ
			</div>
			<br>

			<!-- 質問3 -->
			<div>
				<h3>3. 自分は周囲と比べて少し変わっていると思いますか？</h3>
				<input type="radio" name="q3" value="はい" required> はい
				<input type="radio" name="q3" value="いいえ"> いいえ
			</div>
			<br>

			<!-- 質問4 -->
			<div>
				<h3>4. 落ち着いて冷静に対応するのが得意だと思いますか？</h3>
				<input type="radio" name="q4" value="はい" required> はい
				<input type="radio" name="q4" value="いいえ"> いいえ
			</div>
			<br>

			<!-- 質問5 -->
			<div>
				<h3>5. リスクを避けて確実な選択を好む方ですか？</h3>
				<input type="radio" name="q5" value="はい" required> はい
				<input type="radio" name="q5" value="いいえ"> いいえ
			</div>
			<br>

			<!-- ボタングループ -->
			<div class="button-group">
				<!-- 確認ボタン -->
				<button type="submit">確認</button>
			</div>
		</form>

		<br>

		<!-- 戻るボタン -->
		<form th:action="@{/dateMaster/self_diagonosis}" method="get">
			<button type="submit">戻る</button>
		</form>
	</main>
</body>

</html>