<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>診断結果</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>診断結果</h1>
	</header>

	<main>
		<h2>あなたの性格は、、、</h2>

		<!-- 診断結果表示 -->
		<div>

			<!-- 画像表示 -->
			<div>
				<img th:src="@{${imagePath}}" alt="診断結果の画像" style="max-width: 50%; height: auto;" />
			</div>

			<h3 th:text="${type}"></h3>
			<p th:text="${text}"></p>
		</div>

		<!-- 戻るボタン -->
		<form th:action="@{/dateMaster/diagonosis}" method="get">
			<button type="submit">診断一覧に戻る</button>
		</form>
	</main>
</body>

</html>