<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>自己診断</h1>
	</header>

	<!-- 診断結果 -->
	<div class="diagnosis-result">
	  <h2>診断結果</h2>
	  <div class="diagnosis-type">
	    <h3>タイプ</h3>
		<!-- 画像を埋め込む -->
		<img src="画像のURL" alt="画像の説明" width="画像の幅" height="画像の高さ">
	    
	  </div>
	  <div class="diagnosis-description">
	    <h3>説明</h3>
	    
	  </div>
	</div>

	<!-- 診断結果の下 -->
	<div class="result-below">
	  <div class="back-to-diagnosis">
	    <button class="back-button">診断結果に戻る</button>
	  </div>
	  <div class="back-to-my-page">
	    <button class="back-button">マイページへ</button>
	  </div>
	</div>
</body>
</html>