<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>自己診断</h1>
	  <button class="back-button">戻る</button>
	</header>

	<!-- 質問 -->
	<div class="question">
	  <p>質問の内容</p>

	  <p>結果：<span class="result"></span></p>
	</div>

	<!-- 回答に戻る -->
	<div class="back-to-question">
	  <button class="back-button">戻る</button>
	</div>

	<!-- 確定 -->
	<div class="confirm">
	  <button class="confirm-button">確定</button>
	</div>
</body>
</html>