<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<h1>管理者パスワード変更</h1>


	</header>
	<main>

		<div class="back-button">
			<button type="button" onclick="history.back()">戻る</button>
		</div>

		<br>


		<!-- パスワード変更フォーム -->
		<form th:action="@{/dateMaster/confirmPass}" method="post">

			<!-- 現在のパスワード入力 -->
			<div class="input-group">

				<label for="current-password">現在のパスワード:</label>
				<input type="password" id="current-password" name="currentPassword" required>
			</div>

			<!-- 新しいパスワード入力 -->
			<div class="input-group">
				<label for="new-password">新しいパスワード：</label>
				<input type="password" id="new-password" name="newPassword" required>
			</div>

			<!-- 新しいパスワード(確認）-->
			<div class="input-group">
				<label for="confirm-password">新しいパスワード（確認）：</label>
				<input type="password" id="confirm-password" name="confirmPassword" required>
			</div>

			<br>

			<div class="button-group">
				<button type="button" onclick="history.back()">戻る</button>
				<button type="submit">次へ進む</button>
			</div>
		</form>

		<!-- エラーメッセージ表示 -->
		<div th:if="${error}" style="color: red;">
			<p th:text="${error}"></p>
		</div>

	</main>
</body>
</html>