<!--password_change.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>パスワード変更画面</title>
</head>

<body>
	<header>
		<h1>パスワード変更</h1>
		

	</header>
	<main>



		<div class="back-button">
			<button type="button" onclick="history.back()">戻る</button>
		</div>
		
		<br>

		<!-- 現在のパスワード表示 -->
		<div class="current-password">
			<label for="default-password">現在のパスワード：</label>
			<span th:text="${user.password}">現在のパスワード</span>
		</div>

		<!-- パスワード変更フォーム -->
		<form th:action="@{/dateMaster/confirm}" method="post">
			<div class="input-group">
				<label for="new-password">新しいパスワード：</label>
				<input type="password" id="new-password" name="newPassword" required>
			</div>
			<div class="input-group">
				<label for="confirm-password">新しいパスワード（確認）：</label>
				<input type="password" id="confirm-password" name="confirmPassword" required>
			</div>
			
			<br>

			<div class="button-group">
				<button type="button" onclick="history.back()">戻る</button>
				<button type="submit">次へ進む</button>
			</div>
		</form>

	</main>
</body>

</html>