<!-- answer.html -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ランダムデートプラン</title>
</head>
<body>
  <header>
    <h1>ランダムデートプラン</h1>
  </header>
  <main>
    <div class="back-button">
      <button type="button" onclick="history.back()">戻る</button>
    </div>
    <div class="question-message">
      <p>以下の質問に答えてください</p>
    </div>
    <form action="/dateMaster/confirm" method="post">
      <!-- 質問1 -->
      <div class="question-1">
        <p>質問1: 今のデートの気分はどっち?</p>
        <div class="answer-button">
          <button type="submit" name="answer1" value="ロマンチック">ロマンチック</button>
          <button type="submit" name="answer1" value="アクティブ">アクティブ</button>
          <button type="submit" name="answer1" value="リラックス">リラックス</button>
          <button type="submit" name="answer1" value="その他">その他</button>
        </div>
      </div>
      <!-- 質問2 -->
      <div class="question-2">
        <p>質問2: 今の天気はなに?</p>
        <div class="answer-button">
          <button type="submit" name="answer2" value="晴れ">晴れ</button>
          <button type="submit" name="answer2" value="曇り">曇り</button>
          <button type="submit" name="answer2" value="雨">雨</button>
          <button type="submit" name="answer2" value="雪">雪</button>
        </div>
      </div>
      <!-- 質問3 -->
      <div class="question-3">
        <p>質問3: デートプランの数を選択してね！</p>
        <div class="answer-button">
          <button type="submit" name="answer3" value="一個">一個</button>
          <button type="submit" name="answer3" value="二個">二個</button>
          <button type="submit" name="answer3" value="三個">三個</button>
        </div>
      </div>
    </form>
  </main>
</body>
</html>
