<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ランダムデートプラン</title>
	<link rel="stylesheet" href="/css/random_date/confirm_answer.css">
</head>
<body>
	<header>
	    <h1><a th:href="@{/dateMaster/home}">DatingMaster</a></h1>
	    <div class="hamburger-button">
	        <span></span>
	        <span></span>
	        <span></span>
	    </div>
	</header>

	<nav class="hamburger-menu">
	    <ul>
	        <li><a th:href="@{/dateMaster/date}">デート</a></li>
	        <li><a th:href="@{/dateMaster/diagonosis}">診断</a></li>
	        <li><a th:href="@{/dateMaster/partner}">パートナー</a></li>
	        <li><a th:href="@{/dateMaster/setting}">設定</a></li>
	        <li><a th:href="@{/dateMaster/logout}">ログアウト</a></li>
	    </ul>
	</nav>

	<div class="overlay"></div>
  <main>
    <div>

      <h2>以下の内容でよろしいですか？</h2>
      <p>行きたい場所: <span th:text="${destination}"></span></p>
      <p>天気: <span th:text="${weather}"></span></p>
      <p>デートプランの数: <span th:text="${planCount}"></span></p>
    </div>
    

	<form action="#" th:action="@{/date_idea_list}" method="post">
	    <input type="hidden" name="destination" th:value="${destination}">
	    <input type="hidden" name="weather" th:value="${weather}">
	    <input type="hidden" name="planCount" th:value="${planCount}">
	    <div class="button-group">
	        <button type="submit">確定</button>      
	    </div>
	</form>
	<button class="back-button" onclick="history.back()">戻る</button>
  </main>
  <script src="/js/home/home.js"></script>
</body>
</html>