<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ランダムデートプラン</title>
	<link rel="stylesheet" href="/css/random_date/date_idea_list.css">
</head>
<body>
	<header>
	    <h1><a th:href="@{/dateMaster/home}">DatingMaster</a></h1>
	    <div class="hamburger-button">
	        <span></span>
	        <span></span>
	        <span></span>
	    </div>
	</header>

	<nav class="hamburger-menu">
	    <ul>
	        <li><a th:href="@{/dateMaster/date}">デート</a></li>
	        <li><a th:href="@{/dateMaster/diagonosis}">診断</a></li>
	        <li><a th:href="@{/dateMaster/partner}">パートナー</a></li>
	        <li><a th:href="@{/dateMaster/setting}">設定</a></li>
	        <li><a th:href="@{/dateMaster/logout}">ログアウト</a></li>
	    </ul>
	</nav>

	<div class="overlay"></div>
  <main>

	<div class="plan-container">
	    <div th:each="spot, iterStat : ${spots}" th:if="${iterStat.index < planCount}" class="plan">
	      <div class="plan-header">
	        <span th:text="${iterStat.index == 0 ? 'メインスポット' :
	                      (iterStat.index == 1 ? 'サブスポット1' : 'サブスポット2')}">スポット種別</span>
	      </div>

        <a th:href="@{/spot/details(spotId=${spot.spotId})}">
          <img src="https://via.placeholder.com/250x200" th:alt="${spot.spotName}" style="max-width: 100%; height: auto;">
        </a>

        <div class="spot-details">
          <p>スポット名: <span th:text="${spot.spotName}"></span></p>
          <p>住所: <span th:text="${spot.spotAddress}"></span></p>
          <p>カテゴリ: <span th:text="${spot.description}"></span></p>
        </div>

        <div class="button-group">
          <th:block th:with="spotType=${iterStat.index == 0 ? 'メインスポット' :
                               (iterStat.index == 1 ? 'サブスポット1' : 'サブスポット2')}">
              <a th:href="@{/change_spot(
                  spotId=${spot.spotId}, 
                  spotType=${spotType}, 
                  destination=${destination}, 
                  weather=${weather}
              )}" class="button change-button">
                  スポット変更
              </a>
          </th:block>
        </div>
      </div>

      <div class="bottom-buttons">
        <a th:href="@{/update_additional_spots(destination=${destination}, weather=${weather})}" class="button">
          スポット更新
        </a>
        <form th:action="@{/confirm_plan}" method="post">
          <input type="hidden" name="destination" th:value="${destination}">
          <input type="hidden" name="weather" th:value="${weather}">
          <button type="submit" class="button confirm-button">このプランで確定！</button>
        </form>
	  <div class="back-button">
			<button type="submit" onclick="history.back()">戻る</button>
	  </div>
      </div>		

    </div>
	<script src="/js/home/home.js"></script>
  </main>
</body>
</html>