<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>問題編集</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="/css/partner/question_edit.css">
</head>

<body>
	<header>
		<h1><a th:href="@{/dateMaster/home}">DatingMaster</a></h1>
		<div class="hamburger-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>

	<ul class="hamburger-menu">
		<li><a th:href="@{/dateMaster/date}">デート</a></li>
		<li><a th:href="@{/dateMaster/diagonosis}">診断</a></li>
		<li><a th:href="@{/dateMaster/partner}">パートナー</a></li>
		<li><a th:href="@{/dateMaster/setting}">設定</a></li>
		<li><a th:href="@{/dateMaster/logout}">ログアウト</a></li>
	</ul>

	<main>
		<div>
			<h2>✧ あなたの問題 ✧</h2>
			<!-- Coaching リストをループして表示 -->
			<div th:each="coaching : ${coachingList}">
				<p th:text="${coaching.question}">問題文が表示されます</p>

				<!-- 消去ボタン -->
				<form th:action="@{/dateMaster/deleteProblem}" method="post">
					<input type="hidden" name="coachingId" th:value="${coaching.id}">
					<button type="submit">✧ 消去 ✧</button>
				</form>
			</div>
		</div>

		<div class="button-group">
			<!-- 問題追加ボタン -->
			<form th:action="@{/dateMaster/questionCreate}" method="get">
				<button type="submit">✧ 問題追加 ✧</button>
			</form>

			<!-- 戻るボタン -->
			<form th:action="@{/dateMaster/partnerCoachingList}" method="get">
				<button type="submit">✧ 戻る ✧</button>
			</form>
		</div>
	</main>
	
	<script src="/js/partner/question_edit.js"></script>
	
</body>

</html>