<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ログイン画面</title>
	</head>

	<body>
		<div class="login-container">
			<h2>ログイン</h2>
			<form th:action="@{/dateMaster/login}" th:method="post">
				<label for="userid" >ユーザーID</label>
				<input type="text" id="userid" th:name="userid"><br><br>

				<label for="password" >パスワード</label>
				<input type="password" id="password" th:name="password"><br><br>

				<input type="submit">
			</form>
		</div>
		
		<p>アカウントをお持ちでない方は<a th:href="@{/dateMaster/register}">新規登録</a></p>
	</body>

</html>






				<!-- <div class="input-box">
				<label for="username">ユーザーID</label>
				<input type="text" id="username" name="username" placeholder="メールアドレスまたはユーザーIDを入力" required>
			</div>
			<div class="input-box">
				<label for="password">パスワード</label>
				<input type="password" id="password" name="password" placeholder="パスワードを入力" required>
				<a href="">パスワードをお忘れですか？</a>
			</div>
			<div class="button-container">
				<button type="submit">ログイン</button>
			</div>
			<br>
			<div class="sign-up">
				<a href="signup.html">新規登録</a>
			</div>> 
		-->
	