<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン画面</title>
</head>

<body>
	<div class="login-container">
		<h2>ログイン</h2>

		<form th:action="@{/dateMaster/login}" th:method="post">
			<label for="userid">ユーザーID</label>
			<input type="text" id="userid" th:name="userid" required><br><br>

			<label for="password">パスワード</label>
			<input type="password" id="password" th:name="password" required><br><br>

			<!-- エラーメッセージ-->
			<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>

			<input type="submit" value="ログイン">
		</form>
	</div>

	<p>アカウントをお持ちでない方は<a th:href="@{/dateMaster/register}">新規登録</a></p>
</body>

</html>