<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン画面</title>
</head>

<body>
	<div class="login-container">
		<h2>ログイン</h2>
		<form>
			<div class="input-box">
				<label for="username">メールアドレスまたはユーザーID</label>
				<input type="text" id="username" name="username" placeholder="メールアドレスまたはユーザーIDを入力" required>
			</div>
			<div class="input-box">
				<label for="password">パスワード</label>
				<input type="password" id="password" name="password" placeholder="パスワードを入力" required>
				<a href="">パスワードをお忘れですか？</a>
			</div>
			<div class="button-container">
				<button type="submit">ログイン</button>
			</div>
			<br>
			<div class="sign-up">
				<a href="signup.html">新規登録</a>
			</div>
		</form>
	</div>
</body>

</html>