<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>共有完了</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<header>
		<h1>共有完了</h1>
	</header>

	<main>
		<p>共有が完了しました！</p>

		<div class="button-group">
			<!-- 問題一覧に戻るボタン -->
			<form th:action="@{/dateMaster/partnerCoachingList}" method="get">
				<button type="submit">戻る</button>
			</form>
		</div>
	</main>
</body>

</html>