<!-- logout.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログアウト</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>ログアウト</h1>
    <div class="hamburger-menu">
		<li><a href="date.html">デート</a></li>
		        <li><a href="diagnosis.html">診断</a></li>
		        <li><a href="partner.html">パートナー</a></li>
		        <li><a href="setting.html">設定</a></li>
		        <li><a href="logout.html">ログアウト</a></li>
    </div>
  </header>
  <main>
    <div class="back-button">
      <button type="button" onclick="history.back()">戻る</button>
    </div>
    <p>ログアウトしますか？</p>
    <button type="button" onclick="logout()">ログアウト</button>
  </main>
  <footer>
    <button type="button" onclick="history.back()">戻る</button>
  </footer>
</body>
</html>