<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>削除確認画面</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<header>
		<h1>削除確認</h1>
	</header>

	<main>
		<p>本当に削除していいんですか...？</p>

		<div class="button-group">
			<button type="button" th:onclick="history.back()">いいえ</button>

			<form name="form1" th:action="@{/dateMaster/partnerDeleteComplete}" method="post">
				<button type="submit">はい</button>

			</form>

		</div>
</body>

</html>