<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>デートプラン作成確認</h1>
	</header>

	<!-- デートプラン -->
	<div class="date-plan">
	  <h2>デートプラン</h2>
	  <p>以下のデートスポットでデートプランを作成します♪</p>
	  <div class="spot-info">
	    <img src="spot-image.jpg" alt="スポットの写真">
	    <div class="spot-description">
	   
	      <p>スポットの概要</p>
	    </div>
	  </div>
	  <div class="buttons">
	    <button type="button" onclick="history.back()">戻る</button>
	    <button class="create-button">作成する！</button>
	  </div>
	</div>
</body>
</html>