<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
	  <h1>デートプラン追加</h1>
	  <button type="button" onclick="history.back()">戻る</button>
	</header>

	<!-- 検索バー -->
	<form>
	  <input type="search" id="search-bar" placeholder="デートスポットを検索">
	  <button class="search-button">検索</button>
	</form>

	<!-- マップ -->
	<div id="map"></div>

	<!-- 検索結果 -->
	<div class="search-result">
	  <h2>検索結果</h2>
	  <ul>
	    <!-- 検索結果のスポットを表示 -->
	    <li>
	      <h3>スポット名</h3>
	      <p>スポットの概要</p>
	    </li>
	  </ul>
	</div>

	<!-- スポットの詳細 -->
	<div class="spot-detail">
	  <h2>スポットの詳細</h2>
	  <p>スポットの詳細説明</p>
	</div>

	<!-- 追加ボタン -->
	<button class="add-button">追加する！</button>

	<!-- 戻るボタン -->
	<button type="button" onclick="history.back()">戻る</button>
</body>
</html>