<!-- problem-list.html -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
  <header>
    <h1 th:text="パートナーコーチング">パートナーコーチング</h1>
  </header>

  <button type="button" th:onclick="'@{/partner/coaching}'">戻る</button>

  <div th:each="problem : ${problems}">
    <p th:text="${problem.description}">${problem.description}</p>
    <button type="button" th:onclick="'@{/partner/coaching/problem/share/' + ${problem.id}}">回答</button>
  </div>

  <div class="button-group">
    <button type="button" th:onclick="'@{/partner/coaching/problem/share/list}'">一覧に戻る</button>
  </div>
</body>

</html>