<!-- problem-answer-confirm.html -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
  <header>
    <h1 th:text="パートナーコーチング">パートナーコーチング</h1>
  </header>

  <main>
    <button type="button" th:onclick="'@{/partner/coaching}'">戻る</button>

    <div class="problem-answer-confirm">
      <p th:text="${problem.description}">${problem.description}</p>

      <p th:text="${chosenAnswer}">あなたの選択した答え</p>

   
      <button type="button" th:onclick="'@{/partner/coaching/problem/share/answer/check/' + ${problem.id}}'">結果を見る</button>
    </div>

    <div class="button-group">
      <button type="button" th:onclick="'@{/partner/coaching/problem/share/list}'">戻る</button>
    </div>
  </main>
</body>

</html>